.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.form {
    flex: 1;
    padding: 2rem;
    border-right: 1px solid var(--white);
}

.list {
    flex: 0 0 25rem;
    padding: 2rem;
    height: 100vh;
    overflow-y: auto;
}