:root {
    --white: #F2F2F2;
    --dark-grey: #1F2933;
    --primary: #00BCD4;
    --primary-dark: #0097A7;
    --warning: #FFA000;
    --error: #F44336;
    --disabled: #90A4AE;

    --border-radius: 1.5rem;
}
