.card {
    border-radius: var(--border-radius);
    background-color: var(--white);
    color: var(--primary);
    margin-bottom: 1rem;
}

.card__container {
    padding: 1rem;
}

.card__portalContainer {
    padding: 1rem;
    background-color: var(--white);
    height: auto;
    color: var(--dark-grey);
    opacity: .5;
}
